//Color Vars
$headerLogoColor: #0c7cec;
$mainColor: #0282F9;

// Height Vars
$navHeight: 10vh;
$heroHeight: 20vh;
$footerHeight: 50vh;
$mainHeight: calc(100vh - $navHeight - $heroHeight - $footerHeight);

// Width Vars 
$heroWidth: 100vw;
// $contWidth: calc($heroWidth - 20vw)
