//Color Vars
$headerLogoColor: #0c7cec;
$mainColor: #0282F9;
$bottomFooterColor: #303030;

// Height Vars
$navHeight: 80px;
$heroHeight: 300px;
$cardSectHeight: 10vh;
$footerHeight: 600px;
$mainHeight: 100px;

// footers heights
$topFooter: calc($footerHeight / 2);
$bottomFooter: 80px;

// Width Vars 
$heroWidth: 100vw;
// $contWidth: calc($heroWidth - 20vw)

//CARD VAR
$cardContWidth: 1000px;
$cardWidth: 100px;
$cardHeight: 150px